@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '../../node_modules/normalize.css/normalize.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items:center;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    background: #222 no-repeat;
    background-size: cover;
    @include flexCenter();
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    @include flexCenter();
}

button {
    margin: 0.5em;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background: #7c7c7c6b;
    }
}

#search-bar {
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;

    &:after {
        visibility: visible;
        content: "Loading weather...";
        color: white;
        position: absolute;
        top: 0;
        left: 20px;
    }
}

.weather {
    text-align: center;
    flex-direction: column;
    align-items: center;

    > h1:first-of-type {
        margin: 0.5em 0;
    }
}

.not-found {
    display: none;
    margin-top: 1em;
}

h1.temp {
    margin: 0;
    cursor: pointer;
    display: inline-block;
}

.description {
    text-transform: capitalize;
    margin: 20px 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: start;
    column-gap: 10px;

    > span {
        font-size: 1.3rem;
    }

}

i {
    grid-row: 1/4;
    font-size: 2.5rem;
    align-self: center;
}

// Hover Animation taken from Hover.css library

.hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }